.instagram__title {
  text-align: center;
  font-family: rufina-bold-webfont, Arial, sans-serif;
  font-size: 24px;
  line-height: 35px;
}

.instagram__range {
  margin-bottom: 68px;
  input {
    display: block;
    margin: 0 auto;
  }
}

input[type='range'] {
  -webkit-appearance: none;
  background-color: #dcdcdc;
  width: 480px;
  height: 1px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #b2ae7e;
  height: 21px;
  width: 20px;
  border-radius: 50%;
}

.instagramm_img {
  width: 100%;
}

.instagram__item1 {
  width: 16.7%;
  height: 300px;
  background: url("../img/inst5.jpg") no-repeat;
  background-size: cover;
}

.instagram__item2 {
  width: 33.3%;
  height: 600px;
  background: url("../img/inst8.jpg") no-repeat;
  background-size: cover;
}

.instagram__item3 {
  width: 33.3%;
  height: 300px;
  background: url("../img/inst9.jpg") no-repeat;
  background-size: cover;
}

.instagram__item4 {
  width: 16.7%;
  height: 300px;
  background: url("../img/inst10.jpg") no-repeat;
  background-size: cover;
}

.instagram__item5 {
  width: 16.7%;
  height: 300px;
  background: url("../img/inst11.jpg") no-repeat;
  background-size: cover;
}

.instagram__item6 {
  width: 16.7%;
  height: 300px;
  background: url("../img/inst12.jpg") no-repeat;
  background-size: cover;
}

.instagram__item7 {
  width: 16.7%;
  height: 300px;
  background: url("../img/inst13.jpg") no-repeat;
  background-size: cover;
}

.instagram__item8 {
  width: 16.7%;
  height: 300px;
  background: url("../img/inst6.jpg") no-repeat;
  background-size: cover;
}



/* 15. FAQ
===========================*/
.title {
  margin-top: 75px;
  text-align: center;
  font-family: rufina-bold-webfont, Arial, sans-serif;
  font-size: 24px;
  line-height: 35px;
}

.faq {
  width: 600px;
  margin: 30px auto;
}

.faq-title {
  transition:background-color 0.2s;
  display: block;
  padding: 5px 10px;

  color: #000;
  text-decoration: none;
  background-color: #eaeaea;
  border-bottom: 1px solid black;

  &:hover {
    background-color: gainsboro;
  }
}

.faq-content {
  padding: 5px 10px;
  display: none;
}

.page-block {
  margin-bottom: 70px;
}

.active {

}

